
.welcometext{
    display: flex;
    justify-content: flex-end;

}
.welcome{

text-align: center;

font-size: 30px;
color: white;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;


}


.sign-in{
    width: 380px;
    display: flex;
    flex-direction: column;
}

.title {
    margin: 10px, 0;
}
.buttons{
display: flex;
justify-content: space-between;
}

